// AUTO
$rcg-auto-border-radius-all: .5vw;
$rcg-auto-border-radius-top: .5vw .5vw 0 0;
$rcg-auto-border-radius-left: .5vw 0 0 .5vw;
$rcg-auto-border-radius-right: 0 .5vw .5vw 0;
$rcg-auto-border-radius-bottom: 0 0 .5vw .5vw;

// INTERACTIVE
$rcg-int-border-radius-all: 5px;
$rcg-int-border-radius-top: 5px 5px 0 0;
$rcg-int-border-radius-left: 5px 0 0 5px;
$rcg-int-border-radius-right: 0 5px 5px 0;
$rcg-int-border-radius-bottom: 0 0 5px 5px;

$rcg-int-border-radius-circle: 100px;
