// AUTO VARIABLES
$rcg-auto-bg: #0b0b0d;
$rcg-auto-sidebar-bg: #262632;
$rcg-auto-sidebar-panel-header: #042a4b;
$rcg-auto-sidebar-panel-body: #20202a;
$rcg-auto-list-header-color: #002544;
$rcg-auto-bookings-bg-color: #1b1b23;
$rcg-auto-bookings-bg-color--alt: #21212b;
$rcg-auto-notification: rgba(#047a06, .9);
$rcg-auto-color--white: #fff;
$rcg-auto-color--grey: #42424F;

// AUTO STATUS
$rcg-auto-color--corrupted: #f77a0c;
$rcg-auto-color--running: #f21b3f;
$rcg-auto-color--processed: #0ba30e;
$rcg-auto-color--completed: #1e7f30;
$rcg-auto-color--failed: #ffb000;
$rcg-auto-color--initiated: #f23a68;
$rcg-auto-color--cancelled: #a60014;
$rcg-auto-color--queued: #2ec6e8;
$rcg-auto-color--scheduled: #2ea7e8;
$rcg-auto-color--stop-init: #757575;

// INTERACTIVE VARIABLES
$rcg-int-color--body: #262626;
$rcg-int-color--avid: #31113f;
$rcg-int-color--header: #191e29;
$rcg-int-color--white: #e0e0e0;
$rcg-int-color--light-grey: #535465;
$rcg-int-color--dark-blue: #29303a;
$rcg-int-color--blue: #2d95d8;
$rcg-int-color--form-color: #3082c0;
$rcg-int-color--form-color-alt: #1c69a1;
$rcg-int-color--side-bar: #1b1b1b;
$rcg-int-color--result: #3f3f3f;
$rcg-int-color--sort-filter: #1c1c1c;
$rcg-int-color--booking-list: #262626;
$rcg-int-color--list-item: #303036;
$rcg-int-color--list-item-active: #2b3645;
$rcg-int-color--booking-detail: #202020;
$rcg-int-color--booking-detail-item: #222228;
$rcg-int-color--input: #3a3b48;

// INTERACTIVE STATUS
$rcg-int-status-color--green: #99c819;
$rcg-int-status-color--red: #a8231e;
$rcg-int-status-color--yellow: #e5c909;
$rcg-int-status-color--blue: #15c5ff;
$rcg-int-status-color--pink: #d02571;
$rcg-int-status-color--black: #171717;
