// INTERACTIVE
$rcg-int-margin: 10px;
$rcg-int-margin--xs: $rcg-int-margin;
$rcg-int-margin--sm: $rcg-int-margin * 2;
$rcg-int-margin--m: $rcg-int-margin * 3;
$rcg-int-margin--l: $rcg-int-margin * 4;
$rcg-int-margin--xl: $rcg-int-margin * 5;
$rcg-int-margin--xxl: $rcg-int-margin * 6;
