// AUTO
$rcg-auto-padding-standard: .5vw;
$rcg-auto-padding-xs: $rcg-auto-padding-standard;
$rcg-auto-padding-sm: $rcg-auto-padding-standard * 2;
$rcg-auto-padding-m: $rcg-auto-padding-standard * 3;
$rcg-auto-padding-l: $rcg-auto-padding-standard * 4;
$rcg-auto-padding-xl: $rcg-auto-padding-standard * 5;
$rcg-auto-padding-xxl: $rcg-auto-padding-standard * 6;

// INTERACTIVE
$rcg-int-padding: 5px;
$rcg-int-padding-sm: $rcg-int-padding;
$rcg-int-padding-m: $rcg-int-padding * 2;
$rcg-int-padding-l: $rcg-int-padding * 3;
$rcg-int-padding-xl: $rcg-int-padding * 4;
$rcg-int-padding-xxl: $rcg-int-padding * 5;
