// AUTO
$rcg-auto-font-size--body-content-1: 2.4vw;
$rcg-auto-font-size--body-content-2: 1.8vw;
$rcg-auto-font-size--body-content-3: 1.4vw;
$rcg-auto-font-size--body-content-4: 1.3vw;
$rcg-auto-font-size--body-content-5: 1.2vw;
$rcg-auto-font-size--body-content-6: 1vw;
$rcg-auto-font-size--body-content-7: .5vw;

// INTERACTIVE
$rcg-int-font-size--body-content-1: 20px;
$rcg-int-font-size--body-content-2: 18px;
$rcg-int-font-size--body-content-3: 16px;
$rcg-int-font-size--body-content-4: 14px;
$rcg-int-font-size--body-content-5: 13px;
$rcg-int-font-size--body-content-6: 12px;
$rcg-int-font-size--body-content-7: 11px;
$rcg-int-font-size--body-content-8: 10px;
$rcg-int-font-size--body-content-9: 5px;
