// AUTO
.rcg-date-details__auto {
    display: block;
}

.rcg-date-details__auto-header {
    @include sidebar-panel-header;
    border-radius: $rcg-auto-border-radius-top;
    padding: $rcg-auto-padding-xs;
}

.rcg-date-details__auto-body {
    @include sidebar-panel;
    border-radius: $rcg-auto-border-radius-bottom;
    padding: $rcg-auto-padding-xs;
    font-size: $rcg-auto-font-size--body-content-2;
    font-style: italic;

    & sup {
        margin-left: .3vw;
        font-size: $rcg-auto-font-size--body-content-6;
    }
}

.rcg-date-details__auto-week-day,
.rcg-date-details__auto-day-month {
    display: block;
}

// INTERACTIVE
.rcg-date-details__interactive {
    display: block;
    margin-bottom: $rcg-int-margin--xs;
}

.rcg-date-details__interactive-header {
    padding: $rcg-int-padding-sm;
    font-size: $rcg-int-font-size--body-content-4;
    font-weight: bold;
}

.rcg-date-details__interactive-body {
    @include date-clock-container;
    padding: $rcg-int-padding-sm;
    font-size: $rcg-int-font-size--body-content-2;

    & sup {
        margin-left: $rcg-int-margin--xs/2;
        font-size: $rcg-int-font-size--body-content-6;
    }
}

.rcg-date-details__interactive-week-day,
.rcg-date-details__interactive-day-month {
    display: block;
}
