.rcg-result-loader {
    margin-top: $rcg-int-margin--l;
    text-align: center;
}

.rcg-result-loader__message {
    margin-top: $rcg-int-margin--sm;
    font-size: $rcg-int-font-size--body-content-3;
}